@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    width: 1000px;
    height:11550px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding-left: 25px;
}

.entry-title {
    font-weight: 400;
    text-transform: none;
    color: #00d084;
    font-size: 34px;
    padding-top: 15px;
    padding-top: 35px;
}
.entry-meta{
    color: #878787;
    font-size: 90%;
    margin-top: 0.5em;
    line-height: 1.5;
}
.elementor-text-editor{
    color: #433737;
    font-size: 18px;
    margin-top: 2.5em;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 65px;
}
h1.top-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00d084;
    font-size: 35px;
}
hr {
    border: 1px solid #e1d7d7;
    margin-right: 25px;
    margin-top: 40px;
    margin-bottom: 25px;
}
h1.key {
    color: #8f8f8f;
    font-size: 20px;
    line-height: 32px;
}
.img-9 {
    width: 15em;
}
.img-10 {
    width: 15em;
}

/* media jquray */
@media (max-width: 700px){
    main{
        width: 385px;
        height: 27255px;
    }
    .top-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    main{
        width: 760px;
    }
}